@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
  --container: 1195px;
}

@theme {
  --color-primary: #141778;
  --color-secondary: #ff5851;
  --font-lato: 'Lato', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
}
.navItem::after {
  background: linear-gradient(67deg, #ff357d -3.61%, #ff6f33 86.04%);
}
.footer-bg {
  background: linear-gradient(286deg, #2a2aff -70.7%, #550096 78.49%);
}
